version: '3.2'
services:
    # nginx
    web:
        build:
            dockerfile: ./nginx/Dockerfile
        ports:
            - 80:80
        volumes:
            - ./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf

    # php
    app:
        build:
            dockerfile: ./php/Dockerfile

    # mysql
    db:
        image: mysql:8.0
        environment:
            MYSQL_ROOT_PASSWORD: 'dev' # Default root user password.
            MYSQL_USER: 'demo' # User with limited permissions.
            MYSQL_PASSWORD: 'demo' # User with limited permissions.
            MYSQL_DATABASE: 'app' # Default schema, the above user will have access.
        volumes:
            - mysqldata:/var/lib/mysql
        restart: unless-stopped

    # redis

volumes:
    mysqldata: {}
